*{
    font-family: 'Montserrat', sans-serif;
 }

body {
    background-color: #d3d9df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #b22222;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.button-group {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #8b1a1a;
}

#user-info {
    text-align: center;
    margin-top: 20px;
}

#user-info button {
    width: auto;
    background-color: #b22222;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}